
/* Styles for main header */
.display-1 {
    font-family: 'Audiowide', sans-serif;
    color: #ffd700;
    -webkit-text-stroke: 1px #01c6ff;
    
}

/* Styles for h4 headers */
h4{
    font-family: 'Audiowide', sans-serif;
    -webkit-text-stroke: 1px #01c6ff;
    --bs-card-title-color:#ffd700;
}

/* Styles for h5 headers */
h5{
    text-decoration: none;
    --bs-card-title-color:#ffd700;
    border-color: black;
    font-family: 'Audiowide', sans-serif;
    font-size: large;
    -webkit-text-stroke: 1px #01c6ff;
    
}

/* Styles for body content */
body {
  background: no-repeat center center fixed;
    background-image: url('images/AdobeStock_580291632.jpeg');
    background-size:cover;
}

/* Styles for buttons */
div .btn{
    
    border-radius: 10px;
    border-width: 5px;
    border-color: white;
    box-shadow: 0 7px 2px -2px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.5);
    --bs-btn-font-family: 'Audiowide', sans-serif;
    --bs-btn-hover-bg:  rgba(255, 255, 255, 0.5);
    --bs-btn-hover-border-color:white;
    --bs-btn-active-border-color:white;
    --bs-btn-active-bg:rgba(255, 255, 255, 0.5);
}

/* Styles for hover on buttons */
div .btn:hover{
  box-shadow: none;
}

/* Styles on main content */
#main{font-size:30px;
    cursor:pointer;
}

/* Styles fopr sidenav */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #122a6b; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
  
  /* Styles for close button in caught list */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
}

/* Styles for paragraphs in overlay */
.over{
  background: none;
  border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgb(218, 0, 0);
    box-shadow: 0 7px 2px -2px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.5);

}

/* Styles for pokeball caught button */
  .navBtn {
    position:fixed; top:0; right:0;
    cursor: pointer;
}


/* Styles for Overlay */
#overlay {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
  backdrop-filter: blur(6px);
}

/* Styles for close button in overlay*/
.close {
  font-size: 45px;
  font-weight: 600;
  color: white;
}